*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    color: white;
    height: 40px;
    background-color: rgb(52,152,219);
    padding: 10px;
}
.parent{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    height: calc(100vh - 100px);
}
.parent .sidebar{
    color: white;
    background-color: rgb(46,204,113);
    width: 25%;
    padding: 10px;
}
.parent .content{
    color: white;
    background-color: rgb(231,76,60);
    flex: 1;
    padding: 10px;
}
.footer{
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(155,89,182);
    height: 40px;
    color: white;
}