* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}
.header {
  color: black;
  height: 70px;
  border-bottom: 1px solid rgb(242, 240, 240);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .logo {
  padding-top: 15px;
  padding-left: 30px;
}
.header .other {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-right: 40px;
}
.other .item {
  padding-top: 15px;
}
.other .item .user{
  border: none;
  font-weight: bold;
  font-size: 15px;
}
.other .co {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.other .thongbao {
  margin-top: 15px;
  margin-bottom: 30px;
  padding-right: 10px;
  border-right: 1px solid rgb(232, 231, 231);
}
.other .anh {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main {
  background-color: rgb(250, 250, 250);
  height: 1200px;
  padding-left: 50px;
}
.main .tab {
  margin: 20px 50px;
}
.main .content {
  margin: 20px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content .left {
  height: calc(50% - 100px);
}
.left .date {
  background-color: rgb(237, 237, 237);
  border-radius: 15px;
  height: 60px;
  width: 500px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.left .traveller {
  background-color: rgb(237, 237, 237);
  border-radius: 15px;
  height: 60px;
  width: 500px;
  padding: 10px 20px;
}
.date .fa-pen  {
  position: absolute ;
  top: 250px;
  left: 560px;
}
.traveller .fa-pen {
  position: absolute ;
  top: 330px;
  left: 560px;
}
.left .anh1 {
  width: 600px;
  height: 180px;
}
.left .anh2 {
  width: 400px;
  height: 200px;
}
.left .anh3 {
  width: 400px;
  height: 200px;
}
.left .card {
  display: flex;
  gap: 40px;
  /* flex-direction: row; */
}
.cardnumber {
  height: 40px;
  width: 400px;
  margin: 15px 0px;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
}
.expirydate {
  height: 40px;
  width: 180px;
  margin: 10px 0px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
}
.cvc {
  height: 40px;
  width: 180px;
  margin: 10px 0px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
}
.left button {
  height: 40px;
  width: 150px;
  border: 1px solid white;
  background-color: rgb(49, 107, 255);
  border-radius: 40px;
  color: white;
}
.content .right {
  height: calc(50% - 100px);
}

.right {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 70px;
  margin-right: 100px;
  background-color: white;
  border-radius: 20px;
}
.right .fa-solid fa-star {
  color: yellow;
}
.right .check {
  display: flex;
  flex-direction: row;
  gap: 100px;
  /* justify-content: space-between; */
}
.right .anh4 {
  border-radius: 20px;
}
#checkout {
  border-left: 1px solid rgb(189, 189, 189);
  padding-left: 10px;
}
.right .text {
  color: rgb(157, 157, 157);
}
.right .text1 {
  text-align: center;
  color: rgb(157, 157, 157);
  padding-bottom: 20px;
}

.right .detail {
  margin: 7px;
  padding: 7px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
  height: 45px;
  width: 400px;
  padding: 10px;
}
.main .quangcao {
  display: flex;
  flex-wrap: wrap;
  position: absolute;;
  top: 1150px;
  left: 100px;
  /* margin: 20px 50px; */
}
.quangcao .anh5 {
  height: 250px;
  width: 1370px
}
.quangcao .text{
  color: white;
}
.quangcao .text .title{
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 100px;
}
.quangcao .text .vanban{
  position: absolute;
  top: 130px;
  left: 100px;
}
.quangcao .search .input{
  height: 60px;
  width: 550px;
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 700px;
}
.quangcao button{
  height: 40px;
  width: 110px;
  color: white;
  background-color: rgb(16, 15, 15);
  border-radius: 5px;
  position: absolute;
  top: 110px;
  left: 1130px;
}
/* footer */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 90px;
  padding-top: 250px;
  /* height: 500px; */
  color: gray;
  background-color: rgb(244, 244, 244);
}
.footer .logo{
  margin-bottom: 20px;
}
.footer .cot {
  width: calc(20% - 90px);
}
.footer .cot1 {
  width: 30%;
}
.footer .icon{
  display: flex;
  gap: 25px;
  border: 1px solid white;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  text-align: center;
  background-color: white;


}
.icon .fa-sun{
  background-color: rgb(244, 244, 244);
  height: 35px;
  width: 60px;
  padding-top: 10px;
  /* padding-left: 10px; */
  margin-bottom: 30px;
  text-align: center;
  margin-top: 2px;
  margin-left: 3px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(103, 102, 102, 0.3);
}
.icon .fa-moon{
  padding-top: 10px;
}
a {
  text-decoration: none;
}
a:link {
  color: gray;
}
a:visited {
  color: gray;
}
ul {
  list-style-type: none;
}
