p{
    text-align: center;
    line-height: 25px;
    height: 25px;
    width: 60px;
    border-top: 3px solid red;
    border-bottom: 10px double green;
    border-right: 5px dotted blueviolet;
    border-left: 10px groove purple;
}