*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header{
    color: white;
    background-color: rgb(51,51,51);
    height: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}
.tieude{
    width: 50%;
    font-weight: bold;
}
.menu{
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 12px;

}
a {
    text-decoration: none;
}
.menu a:link{
    color: white;
}
.menu a:visited{
    color: white;
}
.content{
    height: calc(100vh - 100px);
    width: 50%;
    padding-left: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.main{
    background-color: rgb(244,244,244);
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    padding-left: 20px;

}
.docthem a{
    color: rgb(60, 88, 227);
}
.other{
    background-color: rgb(249,249,249);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}   
.footer{
    color: white;
    background-color: rgb(51,51,51);
    height: 50px;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
}