*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top .header{
    color: white;
    height: 50px;
    background-color: rgb(51,51,51);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

}
.top .header .logo{
    padding-left: 20px;
    padding-top: 15px;
}
.top .header .other{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding-top: 15px;
    padding-right: 20px;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
.top .banner{
    color: rgb(156,156,156);
    background-color: rgb(204,204,204);
    width: 100vw;
    height: 660px;
    font-size: 80px;
    text-align: center;
    padding-top: 350px;

}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    flex:1;
}
.item{
    height: 50px;
    width: calc(50% - 20px);
    background-color: rgb(244,244,244);
    text-align: center;
    padding-top: 10px;
}
.item1{
    height: 50px;
    width: calc(100% - 20px);
    background-color: rgb(244,244,244);
    text-align: center;
    padding-top: 20px;
}
@media screen and (max-width:1024px) {
    .item{
        width: calc(100% - 20px);
        
    }
}