div{
    margin-top: 150px;
    margin-left: 150px;
    border: 1px solid green;
    height: 150px;
    width: 150px;
    background-color: green;
}
div:hover{
    transform: rotate(45deg);
    transform-origin: bottom right;
}